@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Track (background) */
/* .os-scrollbar-track {
  background-color: var(--color-yellow-400) !important;
} */

/* Scroll thumb (draggable bar) */
.os-scrollbar-handle {
  background-color: var(--color-yellow-400) !important;  /* Light blue */
  border-radius: 8px;
}

/* On hover */
/* .os-scrollbar-handle:hover {
  background-color: var(--color-yellow-400) !important;
} */

/* Force parent to allow overflow */
[data-overlayscrollbars-initialize] {
  overflow: visible !important;
}

/* Also allow OverlayScrollbars internals to show overflow */
[data-overlayscrollbars-contents] {
  overflow: visible !important;
  position: relative; /* important to anchor absolutely positioned submenus */
}
